<%- include('partials/head'); %>   
  <div class="alumno m-2">
    <div class="row text-center">
      <div class="d-flex justify-content-center col-12">
        <img class="img-fluid img-thumbnail" style="max-width: 15rem;" src="<%= alumno.fotografia %>" alt="Imagen del alumno">
      </div>
      <div class="d-flex justify-content-center col-12">
        <h1><%= alumno.nombre+' '+alumno.apellidos %></h1>
      </div>
    </div>
    <div class="row text-center bg-light m-3">
      <h2>Intereses académicos: </h2>
      <p class="d-inline-block"><%= alumno.intereses %></p>
      <h2>Habilidades y fortalezas:</h2>
      <p class="d-inline-block"><%= alumno.habilidades %></p>
      <h2>Objetivos a corto plazo:</h2>
      <p class="d-inline-block"><%= alumno.objetivosCorto %></p>
      <h2>Objetivos a largo plazo:</h2>
      <p class="d-inline-block"><%= alumno.objetivosLargo %></p>
      <h2>Comentarios Adicionales:</h2>
      <p class="d-inline-block"><%= alumno.comentarios %></p>
    </div>
  </div>
  </section>
</body>
</html>
